---
import "../styles/global.css";
import MainLayout from "@/layouts/MainLayout.astro";
import Image from "astro/components/Image.astro";
import logo from "@/images/logo.png";
---

<MainLayout title="Articles, Stories, and Tutorials for Developers">
	<h1 class="text-3xl font-bold underline">Articles, Stories, and Tutorials for Developers</h1>
	<Image src={logo} alt="logo" />
</MainLayout>
