---
import "../styles/global.css";
import MainLayout from "@/layouts/MainLayout.astro";
import Image from "astro/components/Image.astro";
import logo from "@/images/logo.png";
---

<MainLayout>
	<h1 class="text-3xl font-bold underline">Astro</h1>
	<Image src={logo} alt="logo" />
</MainLayout>
