---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Astro" />
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.js"
            integrity="sha512-BJ/5sR2hFxQTKin/55JQCcMTObShDBAmVjL/3NR/MVcrhyOazJjAgvROem03+HYyGw16SVdSfoWCFGr9syxAKA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
        <title>Astro</title>
    </head>
    <body>
        <nav class="container mx-auto max-w-screen-xl mt-10 px-8">
            <ul class="flex justify-between items-center">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/articles">Articles</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </nav>
        <section class="container mx-auto max-w-screen-xl mt-10 px-8">
            <slot />
        </section>
        <footer class="container mx-auto max-w-screen-xl mt-10 px-8">
            <p>Copyright 2025 Astro</p>
        </footer>
        </body>
    </body>
</html>
